<div class="container">
    <div class="login-card">
      <h1>Help Me</h1>
      <h2>Support and be supported by your friends</h2>
  
      <form class="fields" [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
        <input [ngClass]="{'has-error':!loginForm.controls['identifier'].valid
                          && loginForm.controls['identifier'].touched,
                          'touched': loginForm.controls['identifier'].touched }" type="identifier" [formControl]="loginForm.controls['identifier']"
          placeholder="Code">
        <input [ngClass]="{'has-error':!loginForm.controls['password'].valid
                          && loginForm.controls['password'].touched,
                          'touched': loginForm.controls['password'].touched }" placeholder="Password" type="password" [formControl]="loginForm.controls['password']">
        <button class="btn btn-block btn-login" type="submit">Log In</button>
  
        <p>Not a member yet?</p>
        <button class="btn btn-block btn-signup" routerLink="/signup">Sign Up</button>
      </form>
    </div>
  </div>